<!-- <div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
	<div class="relative py-3 sm:max-w-xl sm:mx-auto">
		<div class="absolute inset-0 bg-gradient-to-r from-blue-300 to-blue-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
		</div>
		<div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
			<div class="max-w-md mx-auto">
				<div>
					<h1 class="text-2xl font-semibold">Login Form with Floating Labels</h1>
				</div>
				<div class="divide-y divide-gray-200">
					<div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
						<div class="relative">
							<input autocomplete="off" id="email" name="email" type="text" class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Email address" />
							<label for="email" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Email Address</label>
						</div>
						<div class="relative">
							<input autocomplete="off" id="password" name="password" type="password" class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Password" />
							<label for="password" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Password</label>
						</div>
						<div class="relative">
							<button class="bg-blue-500 text-white rounded-md px-2 py-1">Submit</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="flex justify-between w-full relative px-6">
  <div class="w-64">
    <!-- component -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <div class="md:flex flex-col md:flex-row md:min-h-screen w-full">
      <div class="flex flex-col w-full md:w-64 text-gray-700 bg-white dark-mode:text-gray-200 dark-mode:bg-gray-800 flex-shrink-0">
        <div class="flex-shrink-0 px-8 py-4 flex flex-row items-center justify-between">
          <a href="#" class="text-lg font-semibold tracking-widest text-gray-900 uppercase rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline">Filters</a>
          <button class="rounded-lg rounded-lg focus:outline-none focus:shadow-outline" (click)="openToggle()">
            Clear All
          </button>
        </div>
        <div class=" md:block px-4 pb-4 md:pb-0 md:overflow-y-auto">
          <h2 class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-900 bg-gray-200 rounded-lg uppercase">Category</h2>
          <span class="block px-4 py-2 mt-2 text-xs font-semibold text-gray-900 cursor-pointer">Men's Footwear</span>
        </div>
        <div class=" md:block px-4 pb-4 md:pb-0 md:overflow-y-auto">
          <h2 class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-900 bg-gray-200 rounded-lg uppercase">Price</h2>
          <span class="block px-4 py-2 mt-2 text-xs font-semibold text-gray-900 cursor-pointer">$50-$500</span>
        </div>
        <div class=" md:block px-4 pb-4 md:pb-0 md:overflow-y-auto">
          <h2 class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-900 bg-gray-200 rounded-lg uppercase">Brand</h2>
          <select name="brand" id="brand" class="block px-4 py-2 my-2 text-xs font-semibold text-gray-900 cursor-pointer" #select (click)="brandFilter(select)">
            <ng-container *ngFor="let item of searchBrandWise" >            
              <option value="{{item.brandName}}" >{{item.brandName}}</option>
            </ng-container>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full grid pl-4 gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 my-6">
    <app-product *ngFor="let item of shoeProduct" [item]="item"></app-product>
    <!-- <ng-container #productsRef></ng-container> -->
  </div>
</div>